<div id="DataList">
    @Html.Action("MessageList",new{ A_Id = ViewData["A_Id"]})
</div>
<div id="MessageCreate">
    @if (User.Identity.IsAuthenticated)
    {
        @Html.Action("Create",new{ A_Id = ViewData["A_Id"]})
    }
    else
    {
        <text>要留言請先</text>
        @Html.ActionLink("登入","Login","Members")
    }
</div>