
@{
    ViewBag.Title = "EmailValidate";
}
<div class="page-header">
    <h1>Email驗證</h1>
</div>
<div class="alert alert-info">
    @ViewData["EmailValidate"]
</div>
@Html.ActionLink("去登入", "Login")
@Html.ActionLink("再註冊", "Register")
